.DS_Store
log/*.log
tmp/**/* 
public/assets/**/*
public/photos/**/*   
config/database.yml
db/*.sqlite3
public/javascripts/all.js
public/javascripts/app.js
public/stylesheets/all.css
public/stylesheets/app.css 

