a {
	font-size: 12px;
	text-decoration: none;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #009900;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}

.ag:link {
	color: #009900;
	text-decoration: none;
}
.ag:hover {
	text-decoration: underline;
	color: #009900;
}
.ag:active {
	text-decoration: none;
}
.ag:visited {
	text-decoration: none;
	color: #009900;
}

.group_logo{
	height:84px;
	width:84px;
  background:url('/images/bg/id_bg.gif')  
}

.nav{
   background:url('/images/bg/header-application.gif') repeat-x ;  
}

.line{
	margin-top:10px;
}

.login a{
	color: #FFFFFF;
	font-size: 14px;
} 

.login a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.login a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.login a:active {
	text-decoration: none;
	color: #FFFFFF;
}
.login a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

.login h2{
	font-size:14px;
	color:white;
}

.login{
	height:30px;
	padding-top:10px;
}

.head{          
	height: 240px;
	background:url('/images/bg/index_top.jpg') ;
}
 
th, td, caption {padding:0px;}
/* =============================================== */
/* 8. user-menu                             */
/* =============================================== */

#user-menu {
	padding-right: 15px;
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down_50.png) no-repeat right;
	}
#user-menu:hover {
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down.png) no-repeat right;	
} 


/* =============================================== */
/* 8. COMMUNITY FOOTER                             */
/* =============================================== */

#footer{   
	margin-top:10px;
	height:60px;
	line-height:60px;    
	background:#cccccc;

}

#copyright{
   padding:5px;    
}

#footer ul li{
	float: right;
	list-style:none;}

#footer li a{
padding-right:10px;
display: block;
border-left: 1px solid #ccc;
}

#CommunityFooter li#rss a{
color: #fff;
background: orange;
text-decoration: none;
}


#CommunityFooter li:first-child a{
border: none;
padding-left: 0;
}


#CommunityFooter p{
float: right;
padding: 5px 0 2px 120px;
background: url(/plugin_assets/community_engine/images/logo.gif) no-repeat left center;
}