a {
	color: #6F1600;
	font-size: 12px;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: underline;
}

.group_logo{
	height:84px;
	width:84px;
  background:url('/images/bg/id_bg.gif')  
}

.nav{
   background:url('/images/bg/header-application.gif') repeat-x ;  
}

.line{
	margin-top:10px;
}

.login a{
	color:white;
} 

.login h2{
	font-size:14px;
	color:white;
}

.login{
	height:30px;
	padding-top:10px;
}

.head{          
	height: 240px;
	background:url('/images/bg/index_top.jpg') ;
}
 

/* =============================================== */
/* 8. user-menu                             */
/* =============================================== */

#user-menu {
	padding-right: 15px;
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down_50.png) no-repeat right;
	}
#user-menu:hover {
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down.png) no-repeat right;	
} 


/* =============================================== */
/* 8. COMMUNITY FOOTER                             */
/* =============================================== */

#footer{    
	background:#cccccc;
	margin-bottom:10px;
} 

#copyright{
   padding:5px;    
}

#footer ul li{float: left;list-style:none;}

#footer li a{
padding-top: 5px;
padding-right:10px;
display: block;
border-left: 1px solid #ccc;
}

#CommunityFooter li#rss a{
color: #fff;
background: orange;
text-decoration: none;
}


#CommunityFooter li:first-child a{
border: none;
padding-left: 0;
}


#CommunityFooter p{
float: right;
padding: 5px 0 2px 120px;
background: url(/plugin_assets/community_engine/images/logo.gif) no-repeat left center;
}