@import url('common.css');    

h4,h5 {
	margin:0px;
}   

.container{
   background-color: #f2f2f2;
}
.group_name li{
   list-style:none;
   float:left;
   padding:10px;
}

.title{ 
	line-height:56px;
	font-size:28px;
}
     
table{ 
	width:auto;
	margin:0 auto; 
}

/*----sidebar------*/ 
.sidebar{ 
	padding:5px;
	margin: 0px 20px 10px 20px;
	background-color:#F9F9F9; 
	border:1px solid #CCCCCC; 
}

#service{    
	font-weight:bold;
	margin:0px;
	color:#FFFFFF;
	padding:1px 5px;
	background: #00BF00 url(/images/ui/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}


.content{
	margin-left:10px;
}    

.sidebar ul{ 
	margin:5px;
}
.sidebar li{   

	padding:1px 2px;   
  	list-style:none;
} 

.sidebar li a{ 
	display:block;
	width:90%; 
	padding-left:10px; 
	padding:1px 0px 1px 10px;
   } 

.sidebar li a:hover{ 
	background: #00BF00; 
	color:#ffffff;       
   }  

.a6 {
	color: #999999;
	font-size: 12px;
	letter-spacing: 1px; 
	font-weight:normal; 
}

.recnet_join li{ 
   text-align:center;  
   float:left;
   margin:5px 3px;
}  

.sidebar ul li#active a, .sidebar ul li.current a{
	display:block;
	width:90%; 
	border:1px solid #FFE375;
    background-color:#FFFFAA;	  
	text-decoration: none !important;
	color:black;
}

/* ---- recnt activity ---- */
  

.activity_user_avatar{
	float:left;
	padding-right:10px;
}       

dt{
	font-size:12px;
}

dd{
  padding-bottom:20px;
}

#activity-item a{
   text-decoration: underline;    
}

/*--- end ----*/

.p-auther li{
list-style:none;float:left;
}

table.poll {
  width: 100%;
  margin-bottom: 3em; }
  table.poll td {
    border-bottom: none; }
    table.poll td .vote {
      display: block;
      float: left;
      background: url(/plugin_assets/community_engine/images/icons/vote.png) no-repeat left;
      padding: 0 10px 0 20px;
      height: 20px;
      margin-right: 10px;
      border-right: 1px solid #ccc; }
  table.poll td.bars {
    width: 50%; }
    table.poll td.bars div.bar-container {
      border: 1px solid #ccc;
      width: 90%;
      margin: 0px 5px 2px 0;
      padding: 1px;
      float: left;
      background: white;
      height: 1em; }
    table.poll td.bars div.bar-container .bar {
      background-color: #cfe1f1;
      height: 12px;
      font-size: 10px;
      text-align: right;
      padding-right: 2px; }     

/*-----icon------*/  
.icon {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}


.icon-add { background-image: url(../images/icon/add.png); }
.icon-edit { background-image: url(../images/icon/edit.png); }
.icon-copy { background-image: url(../images/icon/copy.png); }
.icon-del { background-image: url(../images/icon/delete.png); }
.icon-move { background-image: url(../images/icon/move.png); }
.icon-save { background-image: url(../images/icon/save.png); }
.icon-cancel { background-image: url(../images/icon/cancel.png); }
.icon-file { background-image: url(../images/icon/file.png); }
.icon-folder { background-image: url(../images/icon/folder.png); }
.open .icon-folder { background-image: url(../images/icon/folder_open.png); }
.icon-package { background-image: url(../images/icon/package.png); }
.icon-home { background-image: url(../images/icon/home.png); }
.icon-user { background-image: url(../images/icon/user.png); }
.icon-mypage { background-image: url(../images/icon/user_page.png); }
.icon-admin { background-image: url(../images/icon/admin.png); }
.icon-projects { background-image: url(../images/icon/projects.png); }
.icon-help { background-image: url(../images/icon/help.png); }
.icon-attachment  { background-image: url(../images/icon/attachment.png); }
.icon-index  { background-image: url(../images/icon/index.png); }
.icon-history  { background-image: url(../images/icon/history.png); }
.icon-time  { background-image: url(../images/icon/time.png); }
.icon-time-add  { background-image: url(../images/icon/time_add.png); }
.icon-stats  { background-image: url(../images/icon/stats.png); }
.icon-warning  { background-image: url(../images/icon/warning.png); }
.icon-fav  { background-image: url(../images/icon/fav.png); }
.icon-fav-off  { background-image: url(../images/icon/fav_off.png); }
.icon-reload  { background-image: url(../images/icon/reload.png); }
.icon-lock  { background-image: url(../images/icon/locked.png); }
.icon-unlock  { background-image: url(../images/icon/unlock.png); }
.icon-checked  { background-image: url(../images/icon/true.png); }
.icon-details  { background-image: url(../images/icon/zoom_in.png); }
.icon-report  { background-image: url(../images/icon/report.png); }
.icon-comment  { background-image: url(../images/icon/comment.png); }

/***** Diff *****/
.diff_out { background: #fcc; }
.diff_in { background: #cfc; }

/***** Wiki *****/ 
div.wiki table {
    border: 1px solid #505050;
    border-collapse: collapse;
    margin-bottom: 1em;
}

div.wiki table, div.wiki td, div.wiki th {
    border: 1px solid #bbb;
    padding: 4px;
}

div.wiki .external {
    background-position: 0% 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
    background-image: url(../images/external.png);
}

div.wiki a.new {
    color: #b73535;
}

div.wiki pre {
    margin: 1em 1em 1em 1.6em;
    padding: 2px;
    background-color: #fafafa;
    border: 1px solid #dadada;
    width:95%;
    overflow-x: auto;
}

div.wiki ul.toc {
    background-color: #ffffdd;
    border: 1px solid #e4e4e4;
    padding: 4px;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0;
    display: table
}
* html div.wiki ul.toc { width: 50%; } /* IE6 doesn't autosize div */

div.wiki ul.toc.right { float: right; margin-left: 12px; margin-right: 0; width: auto; }
div.wiki ul.toc.left  { float: left; margin-right: 12px; margin-left: 0; width: auto; }
div.wiki ul.toc li { list-style-type:none;}
div.wiki ul.toc li.heading2 { margin-left: 6px; }
div.wiki ul.toc li.heading3 { margin-left: 12px; font-size: 0.8em; }

div.wiki ul.toc a {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: #606060;
}
div.wiki ul.toc a:hover { color: #c61a1a; text-decoration: underline;}

a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }
 
#preview fieldset {margin-top: 1em; background: url(../images/draft.png)}  


html>body #ajax-indicator { position: fixed; }

/* -------  bookmark ------  */
.bookmark_content{
	width:300px;
	height:100px;
}  

.ag{
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}

/*---- group -------*/
#group_header{
	clear:both;
	padding:10px;
	height:65px;
	width:100%;
} 

.g_left{ 
	float:left;
	background: url(/images/bg/title_bg_m.jpg) repeat-x;
} 

.title_left{  
	float:left; 
	width:26px; 
	height:56px;
  background: url(/images/bg/title_bg_l.jpg); 
} 

.title_m{
	float:left; 
}

.title-right{ 
	float:left;
	width:26px; 
	height:56px;
   background: url(/images/bg/title_bg_r.jpg);  
}
.g_left ul li{
	float:left;
	list-style:none;
	margin-left:10px;
}

.group_description{
	float:left; 
	margin-left:30px;
}

.g-logo{   
	height:48px; 
	width:54px;   
	text-align:center;
    padding-top:3px;
	background:#cbcbcb;
}

/***** Entry *****/  
.entry {
  margin-bottom:10px;
} 

.entry img{
	margin:5px 10px;
}

a.read-more{
   text-decoration: underline;  
}
