
<%= f.hidden_field :version %>
<% if false %>
<p><%= f.text_area :text, :cols => 100, :rows => 45, :class => 'wiki-edit', :accesskey => accesskey(:edit) %></p>
<% end %>
<p><%= f.text_area :text, :class => 'rich_text_editor', :accesskey => accesskey(:edit) %></p> 

