<% content_for :sidebar do -%> 
	<%= render :partial => '/shared/group_sidebar' %>
<% end -%>

<% content_for :tabs do -%>
  <li><a href='#tabs-content'>目录</a></li>
	<% @group.wiki.pages.each do |page| -%>
		<li><%=link_to page.title,page_group_wiki_path(@group,:page => page.title) %></li>
	<% end -%>                                                 
<% end -%>

<h3>目录</h3>
<ul>
<% @group.wiki.pages.each do |page| -%>
	<li><%=link_to page.title,page_group_wiki_path(@group,:page => page.title) %></li>
<% end -%>
</ul>