			<div class='span-18'>
			   <h1><%=link_to AppConfig.community_name,'/',:class=>'logo'%></h1>    
			</div>
			<div class='span-6 last login'>
			   	<% if logged_in? -%>
			    	<%= render :partial => 'shared/user_menu'%>
			    <% else -%>
			      <h2><%=:welcome_message.l(:login_link => (link_to :log_in.l, login_path), :signup_link => (link_to :sign_up.l, signup_path))%></h2>
				<% end -%> 
			</div>