              	<% %w(info notice error).each do |type| -%>
				   <% if flash[type.to_sym] -%>
				     <div class="flash_message <%=type.to_s%>">
				     	<span><%= h(flash[type.to_sym]) %></span>
						<small><a href='#'  onclick="jQuery('div.flash_message').hide();return false"><%=:close_this_message.l%></a></small>
				     </div>
					<% end -%>
				<% end -%>     